@import "tailwindcss";

body {
  @apply bg-black text-white;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #55C514;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #55C514;
}